<div class="row">
    <div class="col-xs-12" ng-if="$ctrl.isLoading">Is loading...</div>
</div>
<div class="row">
    <div class="col-xs-2">Action</div>
    <div class="col-xs-5">Request params</div>
    <div class="col-xs-5">Response</div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="btn btn-success" ng-click="$ctrl.loadCollection()">QUERY</div>
    </div>
    <div class="col-xs-5">
        <textarea name="queryParams" id="queryParams" cols="30" rows="5">
        </textarea>
    </div>
    <div class="col-xs-5">
        <textarea name="queryResponse" id="queryResponse" cols="30" rows="5" ng-model="$ctrl.queryResponse">
        </textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="btn btn-info" ng-click="$ctrl.getItem()">GET</div>
    </div>
    <div class="col-xs-5">
        <textarea name="getParams" id="getParams" cols="30" rows="5" ng-model="$ctrl.getParams">
        </textarea>
    </div>
    <div class="col-xs-5">
        <textarea name="getResponse" id="getResponse" cols="30" rows="5" ng-model="$ctrl.getResponse">
        </textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="btn btn-warning" ng-click="$ctrl.saveItem()">SAVE</div>
    </div>
    <div class="col-xs-5">
        <textarea name="saveParams" id="saveParams" cols="30" rows="5" ng-model="$ctrl.saveParams">
        </textarea>
    </div>
    <div class="col-xs-5">
        <textarea name="saveResponse" id="saveResponse" cols="30" rows="5" ng-model="$ctrl.saveResponse">
        </textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="btn btn-danger" ng-click="$ctrl.deleteItem()">DELETE</div>
    </div>
    <div class="col-xs-5">
        <textarea name="deleteParams" id="deleteParams" cols="30" rows="5" ng-model="$ctrl.deleteParams">
        </textarea>
    </div>
    <div class="col-xs-5">
        <textarea name="deleteResponse" id="deleteResponse" cols="30" rows="5" ng-model="$ctrl.deleteResponse">
        </textarea>
    </div>
</div>
